@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #023a53;
  --secondary: #06afda;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: "Lexend", sans-serif;


  --text-2xl: clamp(2.5rem, 5vw, 3.75rem); /* 40px - 60px */
  --text-xl: clamp(2rem, 4.5vw, 3.4375rem); /* 32px - 55px */
  --text-lg: clamp(1.5rem, 3vw, 1.875rem); /* 24px - 30px */
  --text-md: clamp(1.3rem, 3vw, 1.6rem); /* 24px - 30px */
  --text-sm: clamp(1rem, 2vw, 1.125rem); /* 16px - 18px */
  --text-xs: clamp(0.875rem, 1.8vw, 1.0625rem); /* 14px - 17px */

  --breakpoint-2xl: 96.875rem; /* 14px - 17px */

  --container-2xl: 95rem;
}


.container {
  @apply px-[15px] mx-auto;
}
.section-spacing {
  @apply py-[60px] lg:py-[90px] xl:py-[100px] 2xl:py-[120px];
}
p:not(:last-child) {
  margin-bottom: 10px;
}
.sbttl {
@apply text-[25px] lg:text-[40px] font-bold ;
}
/* @media (prefers-color-scheme: dark) {
  :root {
  --primary: #023a53;
  --secondary: #06afda;
  }
  @theme inline {
  --color-primary: var(--primary)
  --color-secondary: var(--secondary)
  }
} */
/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans)
} */
